@charset "utf-8";
// 默认将输出webkit前缀，moz前缀和标准
@mixin prefixerKey($property, $value, $prefixes: webkit moz o ms) {
  #{$property}: $value;

  @each $prefix in $prefixes {
    @if $prefix == webkit {
      -webkit-#{$property}:#{$value};
    }
    @else if $prefix == moz {
      -moz-#{$property}:#{$value};
    }
    @else if $prefix == o {
      -o-#{$property}:#{$value};
    }
    @else if $prefix == ms {
      -ms-#{$property}:#{$value};
    }
  }
}
@mixin prefixerValue($property, $value, $prefixes: webkit moz o ms) {
  #{$property}: $value;

  @each $prefix in $prefixes {
    @if $prefix == webkit {
      #{$property}:-webkit-#{$value};
    }
    @else if $prefix == moz {
      #{$property}:-moz-#{$value};
    }
    @else if $prefix == o {
      #{$property}:-o-#{$value};
    }
    @else if $prefix == ms {
      #{$property}:-ms-#{$value};
    }
  }
}
//元素水平居中
@mixin centerRow{
    margin:0 auto;
}
@mixin img100{
    display:block;
    width: 100%;
    height:100%;
}
//主题黄色
$fontColor:#f8e5a1;
html,body{
    position:relative;
    width:100%;
height:100%;
    font-size:14px;
}
#main{

}
